<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Medical Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label position="floating">Weight</ion-label>
      <ion-input [(ngModel)]="weight" type="number" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Height</ion-label>
      <ion-input [(ngModel)]="height" type="number" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Blood Pressure</ion-label>
      <ion-input [(ngModel)]="bp"type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Temperature (F)</ion-label>
      <ion-range [(ngModel)]="temp" step="0.1" min="35" max="110" color="danger" pin="true"></ion-range>
      <ion-icon size="small" slot="start" name="thermometer-outline"></ion-icon>
      <ion-icon slot="end" name="thermometer-outline"></ion-icon>
    </ion-item>

    <ion-list>
      <h3 position="floating">Symptoms</h3>
      <ion-item *ngFor="let symptom of symptoms">
        <ion-label>{{symptom.name}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="symptom.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>

    <!-- get location directly -->
    <ion-list>  
      <h3 position="floating">Location</h3>
    <ion-item>
      <ion-label>Latitude : </ion-label>
      <ion-input [(ngModel)]="latitude" required type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Longitude : </ion-label>
      <ion-input [(ngModel)]="longitude" required type="number"></ion-input>
    </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)= "AddInfo()" type="submit" color="danger" expand="block">Send To Doctor</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h4 position="floating">Prescription From Doctor</h4>  
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-textarea [(ngModel)]="meds" disabled= "true"></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>